@use "../util" as u;

.grid-container {
    display: grid;
    column-gap: 2rem;
    text-align: center;
    place-items: center;
    padding-inline: 1rem;
    row-gap: 10%;

    &* {
        max-width: 10 ch; //character
    }

    &--home {
        padding-bottom: max(6rem, 20vh);
        align-items: end;
    }

    @include u.breakpoint(large) {
        text-align: left;
        column-gap: 2rem;
        grid-template-columns: 1fr 1fr;

    }
}