:root {
  --clr-dark: hsl(230 35% 7%);
  --clr-accent: hsl(231 77% 90%);
  --clr-light: hsl(0 0% 100%);
}

.text-dark {
  color: var(--clr-dark);
}

.text-accent {
  color: var(--clr-accent);
}

.text-light {
  color: var(--clr-light);
}

.bg-dark {
  background-color: var(--clr-dark);
}

.bg-accent {
  background-color: var(--clr-accent);
}

.bg-light {
  background-color: var(--clr-light);
}